<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moodprogrammer.mi_calcu">

    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icono_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mi_Calcu">

        <!-- ID EJEMPLO: ca-app-pub-3940256099942544~3347511713 -->
        <!-- ID APLICACION: ca-app-pub-2848379258408619~4943312321 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2848379258408619~4943312321"/>

        <activity
            android:name=".operaciones"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>